@import "tailwindcss";

@theme {
  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-200: #ddd6fe;
  --color-brand-500: #8b5cf6;
  --color-brand-600: #7c3aed;
  --color-brand-700: #6d28d9;
  --color-income: #10b981;
  --color-expense: #ef4444;
}

body {
  @apply bg-slate-50 text-slate-900 min-h-screen antialiased selection:bg-purple-100 selection:text-purple-700;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
